<%= form_for(@enigma) do |f| %>
  <% if @enigma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enigma.errors.count, "error") %> prohibited this enigma from being saved:</h2>

      <ul>
      <% @enigma.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :short_solution %><br />
    <%= f.text_field :short_solution %>
  </div>
  <div class="field">
    <%= f.label :long_solution %><br />
    <%= f.text_area :long_solution %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
