<h2>Enigmas <% if @tag != nil%>for tag <%= @tag %><% end %></h2>
<% if @enigmas.empty? %>
No enigma can be found.
<% else %>
<table>
  <tr>
    <th width = "15%">ID</th>
    <th width = "50%" align = "left">Description/Title</th>
    <th width = "20%" align = "left">Tags</th>
  </tr>
<% @enigmas.each do |enigma| %>
  <tr>
    <th><b><%= enigma.id %></b></th>
    <th align = "left"><%= link_to enigma.title, enigma %></th>
    <th align = "left"><%= enigma.tags_string %></th>
  </tr>
<% end %>
</table>
<% end %>
<br />
<% if logged_in? %><%= link_to 'New Enigma', new_enigma_path %><% end %>

