<p><b>Enigma <%= @enigma.id %> -- <%= @enigma.title %></b>
<p>
  <b>Content:</b>
  <%= simple_format(@enigma.content) %>
</p>

<p>
  <b>Short solution:</b>
  <%= @enigma.short_solution %>
</p>

<p>
  <b>Long solution:</b>
  <%= simple_format(@enigma.long_solution) %>
</p>
<p>
  <b>Tags:</b>
  <% @tags.each do |tag| %><%= tag.name %> <% end %>
</p>


<% if logged_in? %>
  <%= link_to 'New Enigma', new_enigma_path %> |
  <%= link_to 'Edit', edit_enigma_path(@enigma) %> |
<% end %>
<%= link_to 'Back', enigmas_path %> |
Created on <%= @enigma.date_string %>
<% if not @enigma.user.nil? %>by <%= @enigma.user.login %><% end %>
