<h3>Enigma <%= @enigma.id %> -- <%= @enigma.title %></h3>
<div class="problem">
  <p>
  <%= simple_format(@enigma.content) %>
  </p>
</div>

<div class="solution">
    <div class="quotetitle">
      <strong>Solution</strong>
      <input type="button" value="Show" style="width:60px;font-size:10px;margin:0px;padding:0px;" 
      onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') {
        this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = '';        
        this.innerText = ''; 
        this.value = 'Hide'; 
        } 
        else { 
        this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; 
        this.innerText = ''; 
        this.value = 'Show'; 
        }" />
    </div>
    <div class="quotecontent"><div style="display: none;">
    <%= simple_format(@enigma.long_solution) %>
</div></div></div>
<div class="tags" style="margin:20px">
  <b>Tags:</b>
  <% @tags.each do |tag| %><%= link_to tag.name, "/tags/" + String(tag.id) %> <% end %>
</div>
<div class="navbar" align="right">
  <% if logged_in? %>
    <%= link_to 'Edit', edit_enigma_path(@enigma) %> |
  <% end %>
  Created on <%= @enigma.date_string %>
  <% if not @enigma.user.nil? %>
    by <%= link_to @enigma.user.login, "/users/" + String(@enigma.user.id) %>
  <% end %>
</div>
