<!DOCTYPE html>
<html>
<head>
  <title>TeaserLand</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><i>TeaserLand</i></h1>
  <p id="notice"><%= notice %></p>
  <div id="container">
    <%= yield %>
  <div align="right">
    <% if logged_in? %>
      <%= current_user.login %> |
      <%= link_to 'New Enigma', new_enigma_path %> |
      <%= link_to 'Home', enigmas_path %> |
      <%= link_to "About", "/about" %> |
      <%= link_to "Logout", "/logout" %>
    <% else %>
      <br />
      <%= form_tag "/login" do %>
        <%= text_field_tag :login, "login" %>
        <%= password_field_tag :password, "password" %>
        <%= submit_tag "Log In" %>
        <%= link_to 'Home', enigmas_path %> |
        <%= link_to "About", "/about" %>
      <% end %>
    <% end %>
  </div>
  </div>
</body>
</html>
